<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<div class="card">
    <img src="<%= user.profile.avatar %>">
    <div class="details">
        <h2> <%= user.profile.name %> </h2>
        <p>Full Stack Developer</p>
    </div>
    <p id="info"><%= profile.about %></p>

</div>
<br>
<br>
<a id="editprofilelink" href="/user/editprofile">
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit Profile</button>
  </a>

</main>
<%- include('../partials/footer') %>