<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<img src="<%= user.profile.avatar %>">
<br>
<h2> <%= user.profile.name %></h2>

<label> About </label>

<form>
    <div class="form-group">
        <label for="staticAbout"></label>
        <textarea readonly class="form-control-plaintext" id="exampleFormControlTextarea1" rows="3">
            <%= profile.about %>
        </textarea>
        <input type="text" readonly class="form-control-plaintext" >
      </div>

</form>

<a id="editprofilelink" href="/user/editprofile">Edit About Section</a>

</main>

<%- include('../partials/footer') %>