<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
 
Yoooooooo
</div>
<% posts.forEach(function(m) { %>
<div>
  <img class="feed"
  src="<%= m.userAvatar %>"
  alt="<%= m.userName %> avatar"
/>
<h4 href="/user/<%= m.user %>"> <%= m.userName %> </h4>
  <%= m.postText %></div>
  <% }); %>

</main>

<%- include('../partials/footer') %>