<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <img class="d-block mx-auto mb-4" src="<%= post.userAvatar %>" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold"><%= post.userName %></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><%= post.postText %></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         
            <div class="vieweditdiv">
            <a href="/posts/<%= post._id %>/edit">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit Post</button>
              </a>
          </div>
          <br>
    
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-secondary btn-lg px-4 gap-3">Delete Post</button>
          </form>

           </div>
        </div>
      </div>


<div>
    </main>

<%- include('../partials/footer') %>